@{
    ViewData["Title"] = "Page not found";
}

<h1 class="tyranids-title general-title"> Lee's Tyranids</h1>
<div class="jumbotron">
    <p class="paragraph-text error-text">
        Please select a Valid URL from the Navbar. 
    </p>
</div>