################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TyranidsData
/.vs/LeesTyranidWebsite/DesignTimeBuild
