<div class="wrapper">
    <div id="formContent">
        <div class="login-title login-general-section">
            <h2>Create user</h2>
        </div>
        <div class="form-group">
            <div class="login-general-section">
                <label for="loginEmail">Email address</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="name@example.com">
            </div>
            <div class="login-password-section">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
            </div>
            <div class="login-general-section">
                <button type="submit" class="btn btn-authenticate">Submit</button>
            </div>
        </div>
    </div>
</div>