@{
    ViewData["Title"] = "Home Page";
}

<h1 class="tyranids-title general-title"> Lee's Tyranids</h1>
<div class="jumbotron">
    <p class="paragraph-text">
        Welcome to Lee's Tyranids website, please see below for the latest painted articles.
    </p>
</div>

<h2 class="general-title"> Painted Articles</h2>
<div class="jumbotron">
    <p class="paragraph-text">
        There are currently no articles.
    </p>
</div>