@model Tyranids.MvcUi.Models.ModelsViewModel;

<div class="model-role-title">
    <h2>@Model.Type units</h2>
</div>

<div>
    @if (Model.Models == null || !Model.Models.Any())
    {
        <p>No units found</p>
    }
    else
    {
        @foreach (var item in Model.Models)
        {
            <p>
                @item.Name
            </p>
        }
    }
</div>
