@model Tyranids.MvcUi.Models.ModelsViewModel;

<div class="model-role-title row">
    <h2>@Model.Type</h2>
</div>

<div>
    @if (Model.Models == null || !Model.Models.Any())
    {
        <p>No units found</p>
    }
    else
    {
        @foreach (var item in Model.Models)
        {
            <div class="row tyranids-title">
                <p>
                    @item.Name
                </p>
            </div>
            <div class="row img-row">
                @foreach (var title in item.Titles)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 img-area">
                        <img class="img-item" src="/@item.Location/@title" />
                    </div>
                }
                <hr/>
            </div>
        }
    }
</div>
