@model IEnumerable<DataManager.Models.ModelModel>;

<div class="model-role-title">
    <h2>Troops units</h2>
</div>

<div>
    @if (Model == null || !Model.Any())
    {
        <p>No units found</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <p>
                @item.Name
            </p>
        }
    }
</div>