@using Microsoft.AspNetCore.Http.Features

<nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
    <div class="container cookie-container">
        <div>
            <p class="navbar-text">
                Use this space to summarize your privacy and cookie use policy.
            </p>
            <div class="navbar-right">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn cookie-button">Learn More</a>
                <button type="button" class="btn btn-default navbar-btn btn-success cookie-button" onclick="hideCookieArea();">Accept</button>
            </div>
        </div>
    </div>
</nav>
<script>
    //Add a cookie here
    function hideCookieArea() {
        document.querySelector("#cookieConsent").style.display = "none";
        document.cookie = "username=John Doe";
    }
</script>
