@using Microsoft.AspNetCore.Http.Features

<nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
    <div class="container cookie-container">
        <div>
            <p class="navbar-text">
                Please click here to accept the Cookie policy.
            </p>
            <div class="navbar-right">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn cookie-button">Learn More</a>
                <button type="button" class="btn btn-default navbar-btn btn-success cookie-button" onclick="setCookie();">Accept</button>
            </div>
        </div>
    </div>
</nav>
