body {
    margin:0;
    padding: 0;
}

.block-area {
    display:block;
}

.btn-authenticate {
    color: #fff;
    background-color: #00b359;
    border-color: #00b359;
}

#cookieConsent {
    display: none;
}

.cookie-button {
    margin: 0 5% 5% 0;
}

.cookie-container {
    background-color: darkslategrey;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}

.create-user-link-section {
    color: lightgray;
    padding-top: 5%;
}

.create-user-link-section a {
    color: orange;
}

.error-area {
    margin: 2% 0 0 2%;
}

.field-validation-error {
    color: red;
}

.footer-divider {
    background-color: white;
}

.general-title, .login-title {
    color: #008000;
}

.login-general-section, .model-role-title {
    margin-top: 5%;
}

.login-password-section {
    margin-top: 2%;
}

.navbar-brand {
    color: white !important;
}

.navbar-header {
    width: 80%;
}

.navbar-header a {
    padding: 1%;
}

.navbar-header a:hover{
    color: white;
}

.navbar-header-login {
    position: absolute;
    right: 5%;
}

#navbarHome {
    color: greenyellow !important;
}

.navbar-top {
    background-color: #1f7a72;
}

.paragraph-text {
    font-family: Arial;
    font-size: 1.2em;
}

span .field-validation-error {
    color: red;
}

.tyranids-title {
    margin-top: 2%;
}