/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    margin:0;
    padding: 0;
}

.btn-authenticate {
    color: #fff;
    background-color: #00b359;
    border-color: #00b359;
}

#cookieConsent {
    display: none;
}

.cookie-button {
    margin: 0 5% 5% 0;
}

.cookie-container {
    background-color: darkslategrey;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}

.create-user-link-section {
    color: lightgray;
    padding-top: 5%;
}

.create-user-link-section a {
    color: orange;
}


.footer-divider {
    background-color: white;
}

.general-title, .login-title {
    color: #008000;
}

.login-general-section, .model-role-title {
    margin-top: 5%;
}

.login-password-section{
    margin-top: 2%;
}

.navbar-brand {
    color: white !important;
}

.navbar-header {
    width: 80%;
}

.navbar-header a {
    padding: 1%;
}

.navbar-header a:hover{
    color: white;
}

.navbar-header-login {
    position: absolute;
    right: 5%;
}

#navbarHome {
    color: greenyellow !important;
}

.navbar-top {
    background-color: #1f7a72;
}

.paragraph-text {
    font-family: Arial;
    font-size: 1.2em;
}

.tyranids-title {
    margin-top: 2%;
}